body {
    margin: 20px;
    padding: 0;
}

.baby-profile {
    background: #f2f5f7;

    width: 100%;
    height: 100%;

    border-radius: 5%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar-box {
    width: 300px;
    height: 300px;
    border-radius: 50%;

    position: relative;

    overflow: hidden;
    will-change: transform;

    background-size: 300px;
    background-repeat: no-repeat;
}

.progress-bar {
    width: 300px;
    height: 300px;
}

/*.avatar-box:before {*/
    /*position: absolute;*/
    /*left: 50%;*/
    /*top: -30px;*/
    /*margin-left: -40px;*/
    /*z-index: -1;*/

    /*content: '';*/
    /*width: 0;*/
    /*height: 0;*/
    /*border-left: 40px solid transparent;*/
    /*border-right: 40px solid transparent;*/
    /*border-bottom: 40px solid white;*/
/*}*/

.avatar {
    width: 226px;
    height: 226px;
    background: url('http://i.imgur.com/kc8uGI4.jpg');
    background-size: 226px;

    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -113px;
    margin-top: -113px;

    border-radius: 50%;
    will-change: transform;
}