body {
    margin: 5px;
    padding: 0;
}

.baby-profile {
    background: #f2f5f7;

    width: 100%;
    height: 100%;

    border-radius: 5%;

    display: -webkit-box;

    display: -webkit-flex;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.avatar-box {
    width: 300px;
    height: 300px;
    border-radius: 50%;

    position: relative;

    background-repeat: no-repeat;
    background-size: 300px;
}

.progress-bar {
    width: 300px;
    height: 300px;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
}

/*.avatar-box:before {*/
    /*position: absolute;*/
    /*left: 50%;*/
    /*top: -30px;*/
    /*margin-left: -40px;*/
    /*z-index: -1;*/

    /*content: '';*/
    /*width: 0;*/
    /*height: 0;*/
    /*border-left: 40px solid transparent;*/
    /*border-right: 40px solid transparent;*/
    /*border-bottom: 40px solid white;*/
/*}*/

.avatar {
    width: 226px;
    height: 226px;
    background: url('http://i.imgur.com/kc8uGI4.jpg');
    background-size: 226px;

    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -113px;
    margin-top: -113px;

    border-radius: 50%;

    -webkit-transform: translateZ(0);

            transform: translateZ(0);
    /*will-change: transform;*/
}