body {
    background-color: #1d2225;
    text-align: center;
    padding-top: 5em;
}
.pie {
    display: inline-block;
    position: relative;
    width: 1em;
    height: 1em;
    background-color: #2f3e46;
    font-size: 7em;
    text-align: center;
    border-radius: 50%;
}
.slice-right {
    position: absolute;
    z-index: 11;
    background-color: #ff913b;
    width: 100%;
    height: 100%;
    clip: rect(0, .5em, .5em, .5em);
    border-radius: 50%;
}
.slice-left {
    position: absolute;
    z-index: 11;
    background-color: #ff913b;
    width: 100%;
    height: 100%;
    clip: rect(.5em, .5em, 1em, .5em);
    border-radius: 50%;
}
.inner {
    position: absolute;
    z-index: 20;
    top: 3px;
    right: 3px;
    bottom: 3px;
    left: 3px;
    background: #1d2225;
    border-radius: 50%;
}

/*.slice-right {*/
    /*-webkit-animation-delay: 1200ms;*/
    /*-webkit-animation-duration: 300ms;*/
    /*-webkit-animation-name: right-slice;*/
    /*-webkit-animation-iteration-count: 1;*/
    /*-webkit-animation-fill-mode: forwards;*/
/*}*/

/*.slice-left {*/
    /*-webkit-animation-delay: 1500ms;*/
    /*-webkit-animation-duration: 300ms;*/
    /*-webkit-animation-name: left-slice;*/
    /*-webkit-animation-iteration-count: 1;*/
    /*-webkit-animation-timing-function: ease-out;*/
    /*-webkit-animation-fill-mode: forwards;*/
/*}*/

/*@-webkit-keyframes right-slice {*/
    /*from {*/
        /*clip: rect(0, 50%, .5em, .5em);*/
    /*}*/
    /*50% {*/
        /*clip: rect(0, 1em, .5em, .5em);*/
    /*}*/
    /*to {*/
        /*clip: rect(0, 1em, 1em, .5em);*/
    /*}*/
/*}*/

/*@-webkit-keyframes left-slice {*/
    /*from {*/
        /*clip: rect(.5em, .5em, 1em, .5em);*/
    /*}*/
    /*50% {*/
        /*clip: rect(.5em, .5em, 1em, 0)*/
    /*}*/
    /*to {*/
        /*clip: rect(.3em, .5em, 1em, 0);*/
    /*}*/
/*}*/