.cirlce {
    width: 200px;
    height: 200px;
    background: red;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}
.cirlce2 {
    width: 180px;
    height: 180px;
    background: white;
    border-radius: 50%;
    position: absolute;
    transform: translateZ(1px);
    left: 10px;
    top: 10px;
}
.p1, .p2 {
    background: white;
    width: 50%;
    height: 100%;
    position: absolute;
    transform: translateZ(1px);
}
.p2 {
    transition: transform 0.5s linear;
    right: 0;
    transform: rotate(0deg) translateZ(1px);
    background: white;
    transform-origin: left center;
}

.rotate .p2 {
    transform: rotate(-180deg);
}